<form>
    <div class="form-group">
        <label for="nameEN">Name En</label>
        <input [(ngModel)]="nameEN" name="nameEN" type="text" id="nameEN" class="form-control">
    </div>
    <div class="form-group">
        <label for="nameUA">Name UA</label>
        <input [(ngModel)]="nameUA" name="nameUA" type="text" id="nameUA" class="form-control">
    </div>
    <button class="btn btn-success" (click)="addCategory()">Add</button>
</form>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name EN</th>
        <th scope="col">Name UA</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of adminCategory">
          <td>{{ c.id }}</td>
          <td>{{ c.nameEN }}</td>
          <td>{{ c.nameUA }}</td>
          <td>
              <input type="button" value="delete" class="btn btn-danger" (click)="deleteCategory(c)">
          </td>
      </tr>
    </tbody>
  </table>